#! GLaDOS 浏览器 Cookie 自动提取
#! Safari / Edge / Chrome 登录 glados.cloud 后自动保存 Cookie

hostname = glados.cloud

^https:\/\/glados\.cloud\/api\/user\/status url script-response-body https://raw.githubusercontent.com/reverie1988/QX/main/Scripts/GLaDOS_Capture.js
^https:\/\/glados\.cloud\/(console|api\/user\/checkin|api\/user\/points|api\/user\/exchange) url script-request-header https://raw.githubusercontent.com/reverie1988/QX/main/Scripts/GLaDOS_Capture.js
