hostname = glados.cloud

^https:\/\/glados\.cloud\/api\/user\/status url script-response-body https://raw.githubusercontent.com/reverie1988/QX/main/Scripts/GLaDOS_Capture.js
^https:\/\/glados\.cloud\/(console|api\/user\/checkin|api\/user\/points|api\/user\/exchange) url script-request-header https://raw.githubusercontent.com/reverie1988/QX/main/Scripts/GLaDOS_Capture.js