#!name=PingMe 
#!desc=PingMe 抓包保存账号参数

[rewrite_local]
^https:\/\/api\.pingmeapp\.net\/app\/queryBalanceAndBonus url script-request-header https://raw.githubusercontent.com/ZenmoFeiShi/Qx/refs/heads/main/PingMe.js

[mitm]
hostname = api.pingmeapp.net
