#!name=WeTalk
#!desc=WeTalk 抓包保存账号参数

// WeTalk 抓包保存账号参数
^https:\/\/api\.wetalkapp\.com\/app\/queryBalanceAndBonus url script-request-header https://raw.githubusercontent.com/ZenmoFeiShi/Qx/refs/heads/main/WeTalk.js, tag=WeTalk抓包


hostname = api.wetalkapp.com
