#!name=众安健康
#!desc=众安健康 抓包保存 Access-Token / Cookie 账号参数

hostname = ihealth.zhongan.com

^https:\/\/ihealth\.zhongan\.com\/api\/ url script-request-header https://raw.githubusercontent.com/reverie1988/QX/main/Scripts/ZAJK.js