; 项目：大潮
; 名称：member 提取器

hostname = m.aihoge.com

^https:\/\/m\.aihoge\.com\/api\/publichy\/client\/activity\/info\?source=wechat url script-request-header https://raw.githubusercontent.com/reverie1988/QX/refs/heads/main/Scripts/%E5%A4%A7%E6%BD%AEmember%E6%8F%90%E5%8F%96%E5%99%A8.js
